<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID 19</title>
    <link rel="stylesheet"href="/CSS/corona.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cases">Cases</a>
        <a href="/contacts">Contacts</a>
    </nav>

    <h1>CORONAVIRUS</h1>
   
    <table style="width:100%">
        <tr>
          <th>REGIONS</th>
          <th>CASES</th>
          <th>RECOVERED</th>
          <th>ACTIVE CASES</th>
          
          
        </tr>

        <ul>
            <tr>
                
            <td>Greater Accra Region</td>
            <td>21,521</td>
            <td>20,896</td>
            <td>533</td>
          
            
            </tr>

            <tr>
            <td>Eastern Region</td>
            <td>2,157</td>
            <td>1,874</td>
            <td>264</td>
        
            </tr>

            <tr>
                <td>Central Region</td>
                <td>1,836</td>
                <td>1,563</td>
                <td>259</td>
            
            </tr>

            <tr>
                <td>Northern Region</td>
                <td>497</td>
                <td>483</td>
                <td>5</td>
             
            </tr>

            <tr>
                <td>Upper East Region</td>
                <td>282</td>
                <td>279</td>
                <td>0</td>
              
            </tr>

            <tr>
                <td>Upper West Region</td>
                <td>88</td>
                <td>85</td>
                <td>0</td>
              
            </tr>

            <tr>
                <td>Ahafo Region</td>
                <td>490</td>
                <td>446</td>
                <td>44</td>
             
            </tr>

            <tr>
                <td>Volta Region</td>
                <td>646</td>
                <td>605</td>
                <td>30</td>
             
            </tr>

            <tr>
                <td>Ashanti Region</td>
                <td>10,695</td>
                <td>10,172</td>
                <td>432</td>
               
            </tr>

            <tr>
                <td>Oti Region</td>
                <td>229</td>
                <td>202</td>
                <td>25</td>
               
            </tr>

            <tr>
                <td>Bono Region</td>
                <td>480</td>
                <td>479</td>
                <td>1</td>
               
            </tr>

            <tr>
                <td>Savannah Region</td>
                <td>65</td>
                <td>61</td>
                <td>0</td>
               
            </tr>

            <tr>
                <td>Western North Region</td>
                <td>598</td>
                <td>576</td>
                <td>22</td>
                
            </tr>

            <tr>
                <td>Western Region</td>
                <td>2,931</td>
                <td>2,859</td>
                <td>68</td>
                
            </tr>

            <tr>
                <td>Bono East Region</td>
                <td>730</td>
                <td>679</td>
                <td>40</td>
                
            </tr>

            <tr>
                <td>North East Region</td>
                <td>18</td>
                <td>17</td>
                <td>0</td>
            
               
            </tr>

            <tr>
                <td>TOTAL CASES</td>
                <td>43,260</td>
                <td>41,276</td>
                <td>1,723</td>
            </tr>
        
        

    </table>

    <footer>
        © copyright 2020 | COVID-19   

    </footer>
</body>
</html>