<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cases">Cases</a>
        <a href="/contacts">Contacts</a>
    </nav>

    <p>Contact Us</p>

    <form>
        <div class="container">
            <form action="action_page.php">
            
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                
                <label for="lname">Last Name</label>
                <input type="text"  id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="korea">Korea</option>
                    <option value="india">India</option>
                    <option value="dubai">Dubai</option>
                </select>
                
                <label for="comments">Comments</label>
                <textarea id="comments" name="comments" placeholder="Write something.."
           style="height:200px"></textarea>
                <input type="submit" value="Submit">

        </div>
    </form>

    <footer>
        © copyright 2020 | COVID-19   

    </footer>

    
</body>
</html>