<!DOCTYPE html>                                                                                                                                                                                                                                                                                                                                                                                                                                 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID 19</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cases">Cases</a>
        <a href="/contacts">Contacts</a>
    </nav>

         <h1>CORONAVIRUS</h1>

        <center>
            <img src="/static/Images/covid 19.jpg" width="700px">
        </center>
    <p>
        Coronavirus is a virus that is common among animals. It is a dangerous disease with incubation period between 
        4-6 days . It is fatal especially for those with weakened immune system,the elderly and the young. There are many 
        symptoms. Namely: fever,runny nose,cough,sore throat and possibly a headache. To prevent yourself, you need to 
        wash your hands with soap and water before touching anything including your nose,eyes and mouth ,covering your 
        mouth and nose when coughing and sneezing etc.
        
    </p>

    <footer>
        © copyright 2020 | COVID-19   

    </footer>
</body> 
</html>